body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 247, 239);
}

#main-header {
  background-color: rgb(194, 146, 74);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(194, 146, 74);
  border: 1px solid rgb(194, 146, 74);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(194, 146, 74);
}

.btn:hover {
  background-color: rgb(163, 115, 43);
  border-color: rgb(182, 125, 40);
}

.btn-alt:hover{
  background-color: rgb(255, 220, 168);
  border-color: transparent;
}
